<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <!-- Configurações com o Banco de Dados -->
  <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
  <property name="connection.url">jdbc:mysql://localhost:3306/relatoriobd?serverTimezone=UTC</property>
  <property name="connection.username">root</property>
  <property name="connection.password">root</property>
  <!-- Dialecto SQL do PostgreSQL -->
  <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
  <!-- Pool de conexões -->
  <property name="connection.pool_size">100</property>
  <!-- Gerenciamento do contexto da sessão -->
  <property name="current_session_context_class">thread</property>
  <!-- Cache do segundo nivel -->
  <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
  <!--Mostra os sql gerrados na consola -->
  <property name="show_sql">true</property>
  <!-- Configurações para criação as tabelas no Banco de Dados -->
  <property name="hbm2ddl.auto">update</property>
  <!-- Mapemento das classes modelos -->
  <mapping class="gradle.relatorio.domain.Pais"/>
  <mapping class="gradle.relatorio.domain.Cidade"/>
  <mapping class="gradle.relatorio.domain.Congregacao"/>
  <mapping class="gradle.relatorio.domain.Endereco"/>
  <mapping class="gradle.relatorio.domain.Pessoa"/>
  <mapping class="gradle.relatorio.domain.Anciao"/>
  <mapping class="gradle.relatorio.domain.Publicador"/>
  <mapping class="gradle.relatorio.domain.Pioneiro"/>
  <mapping class="gradle.relatorio.domain.Servo"/>
  <mapping class="gradle.relatorio.domain.Usuario"/>
  <mapping class="gradle.relatorio.domain.Relatorio"/>
 </session-factory>
</hibernate-configuration>
